Repository Azure/azure-sdk-for-python: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/autorest_checks.yml, eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/autorest_checks.yml: any of: sdk/core
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/cosmos

Updated live-platform-matrix for multi-region tests
  sdk/cosmos/live-platform-matrix.json
Due: none

initial sync version of fault injection
  sdk/cosmos/azure-cosmos/tests/_fault_injection_transport.py
  sdk/cosmos/azure-cosmos/tests/test_fault_injection_transport.py
Due: none

Sync eng/common directory with azure-sdk-tools for PR 10190 (#40353)
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Due: eng/pipelines/pullrequest.yml

Redesign automatic toolcalls
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_run_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/agent_team.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/sample_agents_agent_team.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/sample_agents_agent_team_custom_team_leader.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/sample_agents_multi_agent_team.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_run_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_iteration_with_toolset.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_operations.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_operations_async.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_ai_agents_instrumentor_async.py
Due: eng/pipelines/pullrequest.yml

add all sync tests
  sdk/cosmos/azure-cosmos/tests/test_fault_injection_transport.py
Due: none

Add AdditionalParameters global variable to dynamic post script (#40361)
  eng/common/TestResources/New-TestResources.ps1
Due: eng/pipelines/pullrequest.yml

add new error and fix logs
  sdk/cosmos/azure-cosmos/tests/_fault_injection_transport.py
  sdk/cosmos/azure-cosmos/tests/_fault_injection_transport_async.py
Due: none

fix test
  sdk/cosmos/azure-cosmos/tests/test_fault_injection_transport.py
Due: none

Increment package version after release of azure-core
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Due: eng/pipelines/autorest_checks.yml, eng/pipelines/pullrequest.yml

minor fix
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_red_team.py
Due: eng/pipelines/pullrequest.yml

[Monitor] Adjust live test post script (#40319)
  sdk/monitor/test-resources-post.ps1
Due: eng/pipelines/pullrequest.yml

Address feedback
  sdk/keyvault/azure-keyvault-securitydomain/apiview-properties.json
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/__init__.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_client.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_configuration.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_internal/async_polling.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_internal/polling.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_model_base.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_operations/__init__.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_operations/_operations.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_patch.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_vendor.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/aio/__init__.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/aio/_client.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/aio/_configuration.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/aio/_operations/__init__.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/aio/_operations/_operations.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/aio/_patch.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/aio/_vendor.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/aio/operations/_operations.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/models/__init__.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/models/_models.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/operations/_operations.py
  sdk/keyvault/azure-keyvault-securitydomain/setup.py
Due: eng/pipelines/pullrequest.yml

lint
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/utils.py
Due: eng/pipelines/pullrequest.yml

create custom model for reservations, implement async client
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/__init__.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_models.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_phone_numbers_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/aio/_phone_numbers_client_async.py
Due: eng/pipelines/pullrequest.yml

Prepare-Release-Evaluation-1-4-1
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
Due: eng/pipelines/pullrequest.yml

remove empty changelog sections
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Auth fix and logging improvements (#40362)
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_utils/constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_utils/formatting_utils.py
  sdk/evaluation/azure-ai-evaluation/setup.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_red_team.py
Due: eng/pipelines/pullrequest.yml

Add basic tests for phone numbers reservation management
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/__init__.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client.py
Due: eng/pipelines/pullrequest.yml

Prepare-Release-Evaluation-1-4-1 (#40368)
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
Due: eng/pipelines/pullrequest.yml

sync part of throughput headers
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/tests/test_headers.py
  sdk/cosmos/azure-cosmos/tests/test_query.py
Due: none

Increment package version after release of azure-core (#40367)
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Due: eng/pipelines/autorest_checks.yml, eng/pipelines/pullrequest.yml

Fixed bug
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
Due: eng/pipelines/pullrequest.yml

Update health report
  scripts/repo_health_status_report/health_report.csv
Due: eng/pipelines/pullrequest.yml

Fixing test failures
  sdk/confidentialledger/azure-confidentialledger/assets.json
  sdk/confidentialledger/azure-confidentialledger/tests/test_confidential_ledger_client.py
Due: eng/pipelines/pullrequest.yml

Prepare-Release Evaluation 1.5.0
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
Due: eng/pipelines/pullrequest.yml

Fix test_batch_files by adding BatchFileProperties - made manual operation naming changes that need to be added to typespec
  sdk/batch/azure-batch/assets.json
  sdk/batch/azure-batch/azure/batch/_operations/_operations.py
  sdk/batch/azure-batch/azure/batch/_operations/_patch.py
  sdk/batch/azure-batch/azure/batch/aio/_operations/_operations.py
  sdk/batch/azure-batch/azure/batch/aio/_operations/_patch.py
  sdk/batch/azure-batch/azure/batch/aio/_patch.py
  sdk/batch/azure-batch/azure/batch/models/_patch.py
  sdk/batch/azure-batch/tests/test_batch.py
Due: eng/pipelines/pullrequest.yml

Prepare-Release Evaluation 1.5.0 (#40371)
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
Due: eng/pipelines/pullrequest.yml

Added Cosmos Fabric native integration tests
  sdk/cosmos/azure-cosmos/tests/conftest.py
  sdk/cosmos/azure-cosmos/tests/fabric_token_credential.py
  sdk/cosmos/azure-cosmos/tests/test_config.py
  sdk/cosmos/azure-cosmos/tests/test_fabric_change_feed.py
  sdk/cosmos/azure-cosmos/tests/test_fabric_crud.py
  sdk/cosmos/azure-cosmos/tests/test_fabric_crud_container.py
  sdk/cosmos/azure-cosmos/tests/test_fabric_query.py
  sdk/cosmos/azure-cosmos/tests/testing_fabric_intergation.py
Due: none
