Repository Azure/azure-sdk-for-python: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/aggregate-reports.yml, eng/pipelines/autorest_checks.yml, eng/pipelines/pullrequest.yml

eng/pipelines/aggregate-reports.yml:
  pool:
    name: azsdk-pool-mms-win-2022-general
    vmImage: MMS2022
  stages:
  - stage: ValidateDependencies
    displayName: Validate Dependencies
    jobs:
    - job: ValidateDependencies
      timeoutInMinutes: 120
      steps:
      - template: /eng/pipelines/templates/steps/analyze_dependency.yml
  ...

eng/pipelines/autorest_checks.yml:
  jobs:
  - job: Run_AutoRest
    displayName: Run AutoRest
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
        versionSpec: $(NodeVersion)
    - task: UsePythonVersion@0
      displayName: Use Python $(PythonVersion)
      inputs:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: ../eng/pipelines/templates/stages/archetype-sdk-client.yml
    parameters:
      ServiceDirectory: ${{ parameters.Service }}
      BuildTargetingString: '*'
      TestProxy: true
      TestTimeOutInMinutes: 180
      ExcludePaths:
      - sdk/cosmos

add tests
  sdk/servicebus/azure-servicebus/tests/async_tests/test_mgmt_op_async.py
  sdk/servicebus/azure-servicebus/tests/test_mgmt_op.py
Due: eng/pipelines/pullrequest.yml

Added scale workload scripts
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_http_logging_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/test/workloads/get-database-account-call.py
  sdk/cosmos/azure-cosmos/test/workloads/initial-setup.py
  sdk/cosmos/azure-cosmos/test/workloads/r-proxy-workload.py
  sdk/cosmos/azure-cosmos/test/workloads/r-w-q-proxy-workload.py
  sdk/cosmos/azure-cosmos/test/workloads/r-w-q-workload.py
  sdk/cosmos/azure-cosmos/test/workloads/r-workload.py
  sdk/cosmos/azure-cosmos/test/workloads/w-proxy-workload.py
  sdk/cosmos/azure-cosmos/test/workloads/w-workload.py
Due: none

Updated blob dependency in DL (#39684)
  sdk/storage/azure-storage-file-datalake/setup.py
Due: eng/pipelines/pullrequest.yml

Scale testing upserts
  sdk/cosmos/azure-cosmos/test/workloads/initial-setup.py
Due: none

fix cspell and tests
  sdk/cosmos/azure-cosmos/test/test_health_check.py
  sdk/cosmos/azure-cosmos/test/test_health_check_async.py
  sdk/cosmos/azure-cosmos/test/test_timeout_and_failover_retry_policy_async.py
Due: none

dep conflict log
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_diagnostics/diagnostic_logging.py
Due: eng/pipelines/pullrequest.yml

changelog
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

report total in two places
  scripts/devops_tasks/create_coverage.py
Due: eng/pipelines/pullrequest.yml

updates
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_safety_evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_safety_evaluation/_safety_evaluation.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_dsb_evaluation.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_safety_evaluation.py
Due: eng/pipelines/pullrequest.yml

Update recordings
  sdk/appconfiguration/azure-appconfiguration-provider/assets.json
  sdk/appconfiguration/azure-appconfiguration-provider/setup.py
Due: eng/pipelines/pullrequest.yml

First
  sdk/ai/azure-ai-inference/azure/ai/inference/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_patch.py
  sdk/ai/azure-ai-inference/tests/model_inference_test_base.py
  sdk/ai/azure-ai-inference/tests/test_chat_completions_client.py
  sdk/ai/azure-ai-inference/tests/test_unit_tests.py
Due: eng/pipelines/pullrequest.yml

fix tests
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/test/test_dual_endpoint_async.py
Due: none

[Otel plugin] Misc cleanup
  sdk/core/azure-core-tracing-opentelemetry/azure/core/tracing/ext/opentelemetry_span/__init__.py
Due: eng/pipelines/autorest_checks.yml, eng/pipelines/pullrequest.yml

fix initial upserts
  sdk/cosmos/azure-cosmos/test/workloads/initial-setup.py
Due: none

update changelog
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Due: eng/pipelines/pullrequest.yml

adding more unit tests
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_safety_evaluation.py
Due: eng/pipelines/pullrequest.yml

[ServiceBus] update resource creation for policy changes
  sdk/servicebus/azure-servicebus/tests/servicebus_preparer.py
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 9807 (#39703)
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Due: eng/pipelines/pullrequest.yml

Update deprecation process doc for project archival
  doc/deprecation_process.md
Due: eng/pipelines/pullrequest.yml

Update deprecation process doc for project archival (#39707)
  doc/deprecation_process.md
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 9821 (#39698)
  eng/common/pipelines/templates/steps/save-package-properties.yml
Due: eng/pipelines/pullrequest.yml

Save package properties before setting daily dev version (#39697)
  eng/pipelines/templates/steps/build-package-artifacts.yml
Due: eng/pipelines/pullrequest.yml

[Corehttp] Add model attribute to HttpResponseError (#39636)
  sdk/core/corehttp/CHANGELOG.md
  sdk/core/corehttp/corehttp/exceptions.py
  sdk/core/corehttp/tests/test_exceptions.py
Due: eng/pipelines/autorest_checks.yml, eng/pipelines/pullrequest.yml

Fix broken link
  doc/dev/tests.md
Due: eng/pipelines/pullrequest.yml

johan's feedback
  sdk/core/corehttp/corehttp/streaming/decoders.py
  sdk/core/corehttp/samples/stack.py
Due: eng/pipelines/autorest_checks.yml, eng/pipelines/pullrequest.yml

remove file
  sdk/core/corehttp/samples/stack.py
Due: eng/pipelines/autorest_checks.yml, eng/pipelines/pullrequest.yml

Updated ReadME as per review comments
  sdk/networkanalytics/azure-mgmt-networkanalytics/README.md
Due: eng/pipelines/pullrequest.yml

Update health report
  scripts/repo_health_status_report/health_report.csv
Due: eng/pipelines/pullrequest.yml

Updated pyproject.toml as per review comments
  sdk/networkanalytics/azure-mgmt-networkanalytics/pyproject.toml
Due: eng/pipelines/pullrequest.yml

migration_guide
  sdk/evaluation/azure-ai-evaluation/migration_guide.md
Due: eng/pipelines/pullrequest.yml

skip many msg alr test on osx
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Due: eng/pipelines/pullrequest.yml

fix
  sdk/evaluation/azure-ai-evaluation/migration_guide.md
Due: eng/pipelines/pullrequest.yml

test
  scripts/devops_tasks/test_run_samples.py
Due: eng/pipelines/pullrequest.yml

[Storage] [STG 98] Added support for `x-ms-file-request-intent` for Blob Copy APIs (#39578)
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/dev_requirements.txt
  sdk/storage/azure-storage-blob/tests/test_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
Due: eng/pipelines/pullrequest.yml

Path conditions:
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/autorest_checks.yml: any of: sdk/core
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/cosmos
